<barra-navegacion></barra-navegacion>   
  
<div class="container">
    <h3>{{catalogo.nombre}}</h3>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <img src="{{catalogo.imagen}}">
        </div>
    
        <div class="col-12 col-md-6 col-lg-8">
            <p>Precio: {{catalogo.precio}}</p>
            <p>Unidades disponibles: {{catalogo.unidades_disponibles}}</p>
        </div>
    </div>
    
    <button class="btn btn-light" (click)="goBack()">Atras</button>
    
    
</div>
    
                        
    


